<div
  class="group bg-white rounded-lg shadow-md overflow-hidden hover:shadow-xl transition-all duration-300 cursor-pointer border border-gray-200"
  [routerLink]="['/noticias',article().slug]"

>
  <div class="relative pt-[56.25%] overflow-hidden">
    <img
      [src]="article().img"
      [alt]="article().title"
      class="absolute inset-0 w-full h-full object-contain transition duration-500 ease-in-out group-hover:scale-105"
    />
    <div class="absolute inset-0 bg-gradient-to-t from-black/60 to-transparent opacity-0 group-hover:opacity-100 transition-opacity duration-300"></div>
    <span class="absolute top-2 left-2 bg-red-600 text-white text-xs font-bold uppercase px-2 py-1 rounded">{{ article().category | translateCategory }} </span>
  </div>

  <div class="p-4">
    <h2 class="text-xl font-bold text-gray-900 mb-2 group-hover:text-blue-600 transition-colors duration-300">
      {{ article().title }}
    </h2>

    <p class="text-sm text-gray-600 mb-3 line-clamp-2">{{ article().subtitle }}</p>
  </div>

  <div class="px-4 pb-3">
    <div class="flex flex-wrap gap-1 justify-start">
      <span
        *ngFor="let tag of article().tags.slice(0, 3)"
        class="inline-block px-2 py-1 text-xs font-semibold text-blue-600 bg-blue-100 rounded-full hover:bg-blue-200 transition-colors duration-300"
      >
        #{{ tag }}
      </span>
      <span *ngIf="article().tags.length > 3" class="inline-block px-2 py-1 text-xs font-semibold text-gray-600 bg-gray-100 rounded-full">
        +{{ article().tags.length - 3 }} más
      </span>
    </div>
  </div>
</div>
