<div class="container p-4 cancel-container">
  <mat-card class="cancel-card">
    <div class="card-decoration decoration-cancel"></div>
    <mat-card-header>
      <mat-card-title class="cancel-title">Donación Cancelada</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p class="cancel-message">La transacción no se ha completado. Si has encontrado algún problema o necesitas ayuda, no dudes en contactarnos.</p>
      <mat-icon class="cancel-icon">error</mat-icon>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="warn" class="retry-btn" routerLink="/donations">Intentar de Nuevo</button>
    </mat-card-actions>
  </mat-card>
</div>
