<div class="container p-4 success-container">
  <mat-card class="success-card">
    <div class="card-decoration decoration-success"></div>
    <mat-card-header>
      <mat-card-title class="success-title">¡Gracias por tu donación patriótica!</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p class="success-message">Tu generosa contribución ha sido procesada con éxito. Apreciamos enormemente tu apoyo a El Conservador y a nuestra causa.</p>
      <mat-icon class="success-icon">check_circle</mat-icon>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" class="return-btn" routerLink="/news/list">Volver a Inicio</button>
    </mat-card-actions>
  </mat-card>
</div>
