<div class="subscription-management">
  <h2 class="categories-title">Gestión de Suscripción</h2>

  <mat-card class="active-subscription-card">
    <mat-card-header>
      <mat-card-title>Suscripción Activa</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div *ngIf="activeSubscription; else noActiveSubscription">
        <p>Paquete: {{ activeSubscription.packageName }}</p>
        <p>Fecha de inicio: {{ activeSubscription.startDate | date:'dd/MM/yyyy' }}</p>
        <p>Fecha de fin: {{ activeSubscription.endDate | date:'dd/MM/yyyy' }}</p>
        <button mat-raised-button class="cancel-subscription-btn" (click)="cancelSubscription()">Cancelar Suscripción</button>
      </div>
      <ng-template #noActiveSubscription>
        <p>No tienes una suscripción activa.</p>
      </ng-template>
    </mat-card-content>
  </mat-card>

  <mat-card class="available-packages-card">
    <mat-card-header>
      <mat-card-title>Paquetes Disponibles</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>Para ver nuestros paquetes disponibles, haz clic en el siguiente botón:</p>
      <button mat-raised-button class="view-packages-btn" [routerLink]="['/packages']">Ver Paquetes</button>
    </mat-card-content>
  </mat-card>

  <mat-card class="latest-news-card">
    <mat-card-header>
      <mat-card-title>Últimas Noticias</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-list>
        <mat-list-item *ngFor="let news of latestNews">
          <mat-icon matListIcon aria-hidden="false" aria-label="News icon">article</mat-icon>
          <a [routerLink]="['/news', news._id]" class="news-title">{{ news.title }}</a>
        </mat-list-item>
      </mat-list>
      <button mat-raised-button class="view-all-news-btn" [routerLink]="['/news']">Ver Todas las Noticias</button>
    </mat-card-content>
  </mat-card>

</div>
