.request-reset-password-container {
  max-width: 600px;
  margin: 40px auto;
  padding: 30px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h2 {
  color: #004080;
  font-size: 2em;
  text-align: center;
  margin-bottom: 1.5rem;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

mat-form-field {
  width: 100%;
  max-width: 400px;
  margin-bottom: 1.5rem;
}

.mat-form-field-wrapper {
  padding-bottom: 0;
}

input.mat-input-element {
  color: #333;
}

button[type="submit"] {
  background-color: #0066CC;
  color: white;
  padding: 12px 40px;
  font-size: 1.1rem;
  border-radius: 25px;
  transition: background-color 0.3s, transform 0.3s;
  border: none;
  cursor: pointer;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

button[type="submit"]:hover {
  background-color: #003366;
  transform: scale(1.05);
}

/* Estilos adicionales para mejorar la apariencia en dispositivos móviles */
@media (max-width: 600px) {
  .request-reset-password-container {
    padding: 20px;
    margin: 20px auto;
  }

  h2 {
    font-size: 1.5em;
  }

  button[type="submit"] {
    width: 100%;
    padding: 10px 20px;
  }
}

/* Estilo para el mensaje de error */
.mat-error {
  color: #C60B1E;
  font-size: 0.9em;
  margin-top: 5px;
}

/* Estilo para el icono dentro del campo de entrada */
.mat-form-field-prefix, .mat-form-field-suffix {
  color: #0066CC;
}
