<div class="container p-2">
  <div class="donations-container">
    <h1 class="patriotic-title">Apoya a El Conservador</h1>
    <p class="patriotic-subtitle">
      Ayuda a El Conservador a seguir publicando contenido independiente y de calidad.
    </p>

    <mat-card class="donation-options patriotic-card">
      <h2>Opciones de donación</h2>
      <div class="donation-type-selection">
        <label for="donationType">Selecciona el tipo de donación:</label>
        <mat-button-toggle-group #group="matButtonToggleGroup" [(ngModel)]="donationType">
          <mat-button-toggle value="single">Donación única</mat-button-toggle>
          <mat-button-toggle value="monthly">Donación mensual</mat-button-toggle>
        </mat-button-toggle-group>
      </div>

      <div *ngIf="donationType === 'single'" class="donation-amounts">
        <h3>Elige la cantidad que deseas donar:</h3>
        <mat-radio-group [(ngModel)]="selectedAmount">
          <mat-radio-button *ngFor="let amount of singleDonationAmounts" [value]="amount">
            {{ amount }}€
          </mat-radio-button>
        </mat-radio-group>
        <button mat-raised-button class="donation-btn" (click)="processSingleDonation()">Donar ahora</button>
      </div>

      <div *ngIf="donationType === 'monthly'" class="donation-amounts">
        <h3>Elige un monto para la donación mensual:</h3>
        <mat-radio-group [(ngModel)]="selectedAmount">
          <mat-radio-button *ngFor="let amount of monthlyDonationAmounts" [value]="amount">
            {{ amount }}€/mes
          </mat-radio-button>
        </mat-radio-group>
        <button mat-raised-button class="donation-btn" (click)="processMonthlyDonation()">Donar mensualmente</button>
      </div>
    </mat-card>

    <!-- Sección de agradecimiento simplificada -->
    <div class="gratitude-section">
      <p class="gratitude-message">
        Gracias por tu apoyo. Cada donación nos ayuda a mantener nuestra independencia y calidad.
      </p>
    </div>
  </div>
</div>
