<div class="search-container">
  <h2 class="search-title text-4xl font-bold text-center mb-2">Buscador de Noticias</h2>

  <div class="search-content">
    <form [formGroup]="searchForm" class="search-form">
      <mat-form-field appearance="outline" class="search-field">
        <mat-label>Buscar noticias</mat-label>
        <input
          type="text"
          matInput
          formControlName="searchInput"
        />
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>

      <mat-form-field appearance="outline" class="search-field">
        <mat-label>Buscar por fecha</mat-label>
        <input
          matInput
          [matDatepicker]="picker"
          formControlName="dateInput"
        >
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </form>

    <!-- Sección de Noticias Encontradas -->
    <mat-card class="patriotic-card h-full" *ngIf="news.length > 0">
      <mat-card-header>
        <mat-card-title class="card-title">Noticias Encontradas</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-list>
          <mat-list-item *ngFor="let item of news" [routerLink]="['/news', item._id]">
            <mat-icon matListItemIcon>article</mat-icon>
            <span matListItemTitle>{{ item.title }}</span>
            <span matListItemLine class="news-date">{{ item.date | date:'short' }}</span>
          </mat-list-item>
        </mat-list>
      </mat-card-content>
    </mat-card>

    <div *ngIf="news.length === 0 && (searchForm.get('dateInput')!.value || searchForm.get('searchInput')!.value)" class="no-news-message">
      No se encontraron noticias para la búsqueda realizada.
    </div>

    <!-- Sección Últimas Noticias -->
    <mat-card class="patriotic-card h-full">
      <mat-card-header>
        <mat-card-title class="card-title">Últimas Noticias</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-list>
          <mat-list-item *ngFor="let news of latestNews" [routerLink]="['/news', news._id]">
            <mat-icon matListItemIcon>article</mat-icon>
            <span matListItemTitle>{{ news.title }}</span>
            <span matListItemLine class="news-date">{{ news.date | date:'short' }}</span>
          </mat-list-item>
        </mat-list>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="button-container">
    <button mat-raised-button color="primary" class="back-button" (click)="goBack()">
      <mat-icon>arrow_back</mat-icon>
      Volver al inicio
    </button>
  </div>
</div>
