.footer {
  background-color: #0066CC; /* Azul oscuro */
  color: white;
  padding: 20px;
  text-align: center;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.footer-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.footer-escudo {
  width: 50px; /* Antes 40px */
  height: auto;
}


.footer-title {
  font-family: 'Playfair Display', serif;
  font-weight: 800;
  font-size: 1.2rem;
  color: white;
}

.footer-links {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  justify-content: center;
}

.footer-links a {
  color: white;
  text-decoration: none;
}

.footer-links a:hover {
  text-decoration: underline;
}

.social-media {
  display: flex;
  gap: 15px;
  justify-content: center;
}

.social-media mat-icon {
  color: white;
  font-size: 24px;
}

.footer-bottom {
  margin-top: 20px;
}

/* Ajustes específicos para la vista móvil */
@media (max-width: 600px) {
  .footer-content {
    gap: 15px;
  }

  .footer-links {
    flex-direction: column;
    text-align: center;
  }

  .footer-title {
    font-size: 1rem;
  }

  .footer-escudo {
    width: 30px;
  }
}
