<footer class="footer">
  <div class="footer-content">
    <div class="footer-logo">
      <img src="../../../../assets/logo-circle.png" alt="Logo El Conservador" class="footer-escudo">
      <span class="footer-title">EL CONSERVADOR</span>
    </div>
    <div class="footer-links">
      <a routerLink="/acerca-de">Acerca de</a>
      <a routerLink="/contacto">Contacto</a>
      <a routerLink="/politica-de-privacidad">Política de Privacidad</a>
      <a routerLink="/terminos-y-condiciones">Términos y Condiciones</a>
    </div>
    <div class="social-media">
      <a routerLink="/auth/login">
        <mat-icon>person</mat-icon>
      </a>
      <a [href]="facebookUrl" target="_blank" rel="noopener noreferrer">
        <mat-icon svgIcon="facebook"></mat-icon>
      </a>
      <a [href]="twitterUrl" target="_blank" rel="noopener noreferrer">
        <mat-icon svgIcon="x"></mat-icon>
      </a>
      <a [href]="telegramUrl" target="_blank" rel="noopener noreferrer">
        <mat-icon svgIcon="telegram"></mat-icon>
      </a>
    </div>
  </div>
  <div class="footer-bottom">
    &copy; {{ currentYear }} El Conservador. Todos los derechos reservados.
  </div>
</footer>
