.news-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  padding: 20px;
}
.categories-title{
  font-family: 'Playfair Display', serif;
  font-size: 2.5rem;
  text-align: center;
  color: #C60B1E;
  margin-top: 5px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: -1rem;
}

@media (max-width: 600px) {
  .news-grid {
    grid-template-columns: 1fr;
  }
}

.load-more-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.load-more-button {
  background-color: #0066CC;
  color: white;
  font-weight: bold;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: opacity 0.3s;
}

.load-more-button:hover {
  opacity: 0.9;
}

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}

.no-news-message {
  text-align: center;
  font-size: 1.2em;
  color: #666;
  margin-top: 20px;
}
